REDIS_URL=redis://default:password@redis.railway.internal:6379
OPENAI_API_KEY=sk-...
ELEVENLABS_API_KEY=...
HF_TOKEN=hf_...
FIREBASE_PROJECT_ID=sapere-f7150
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-xxx@sapere-f7150.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\\n...\\n-----END PRIVATE KEY-----\\n"
FIREBASE_STORAGE_BUCKET=sapere-f7150.appspot.com
